
.DS_Store
Thumbs.db


.idea/
.vscode/
*.iml


db.properties
.env.local
.env.production

backend/.gradle/
backend/build/
backend/bin/
*.class
*.war


frontend/node_modules/
frontend/.next/
frontend/out/

*.logapps/
